[package]
authors = ["Kornel <kornel@geekhood.net>"]
categories = ["multimedia::images"]
description = "Higher-level wrapper for Mozilla's JPEG library"
documentation = "https://docs.rs/mozjpeg"
homepage = "https://lib.rs/mozjpeg"
include = ["/README.md", "/Cargo.toml", "/src/*.rs"]
keywords = ["jpeg", "libjpeg", "image", "encoder", "decoder"]
license = "IJG"
name = "mozjpeg"
readme = "README.md"
repository = "https://github.com/ImageOptim/mozjpeg-rust"
version = "0.8.16"
edition = "2018"

[dependencies]
libc = "0.2.66"
mozjpeg-sys = { version = "0.10.2", default-features = false }
rgb = "0.8.14"
arrayvec = "0.5.1"

[features]
default = ["nasm_simd", "mozjpeg-sys/unwinding"]
nasm_simd = ["mozjpeg-sys/nasm_simd"]
with_simd = ["mozjpeg-sys/with_simd"]
